body, html, #app {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    touch-action: none;
}

#app {
    height: 100%;
    font-family: "Montserrat", serif;
}

    #app a {
        text-decoration: none;
        color: #fff;
    }

.hero {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


#canvas {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.kinetic-gradient {
    background: linear-gradient(90deg, #5ddda1 0%, #08a56e 100%);
}

.kinetic-gradient-orange {
    background: linear-gradient(90deg, #ffb693 0%, #fe6b00 100%);
}

.w-full {
    top: 20px; /* Baja 20px */
    right: 100px; /* Mueve a la derecha 10px */
}

#Prueba {
    gap: 30rem;
}

.menu-item {
    transition: all 0.3s ease;
    color: #5ddda1;
    font-weight: bold;
    text-decoration: none;
}

    .menu-item:hover {
        color: #ffffff;
    }

    .menu-item.active {
        color: #ffffff;
        border-bottom: 2px solid #5ddda1;
    }

html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 80px;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #fbf8ff;
    color: #191b24;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.sidebar-active {
    background-color: #2d5bff !important;
    color: white !important;
}

.nav-active {
    color: #0040df;
    border-bottom: 2px solid #0040df;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0.95) translateY(10px);
    }

    to {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes scaleOut {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.95) translateY(10px);
    }
}
